*{
    margin:0;
    padding:0;
    font-family: 'Poppins','sans-serif';
    box-sizing: border-box;
}
body{
   background: linear-gradient(rgb(71, 123, 214),rgb(237, 139, 139));
}
.card{
    width:90%;
    max-width: 470px;
    background: linear-gradient(145deg , rgb(173, 232, 173) , rgba(0, 157, 255, 0.852));
    color:rgb(7, 18, 79);
    border-radius: 20px;
    margin: 100px auto ;
    padding: 30px 35px;
    text-align: center; 
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
 border: 0;
 outline: 0;
 background: #ebfffc;
 color:#555;
 padding:10px 25px;
 height:60px;
 border-radius:30px;
 flex:1;
 margin-right:16px;
 font-size:18px;   
}
.search button{
 border-radius: 50%;
 border: 0;
 outline: 0;
 background: #ebfffc;
 height:60px;
 width:60px;
 cursor: pointer;
}
.search button img{
    width:16px;
}
.details{
   grid-row: 3;
}
.error{
    display:none;
}